@model onlineshop.Models.Db.Setting

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Setting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["message"]
            </div>
        }
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="Shipping" class="control-label"></label>
                <input asp-for="Shipping" class="form-control" />
                <span asp-validation-for="Shipping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopyRight" class="control-label"></label>
                <input asp-for="CopyRight" class="form-control" />
                <span asp-validation-for="CopyRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instagram" class="control-label"></label>
                <input asp-for="Instagram" class="form-control" />
                <span asp-validation-for="Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FaceBook" class="control-label"></label>
                <input asp-for="FaceBook" class="form-control" />
                <span asp-validation-for="FaceBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GooglePlus" class="control-label"></label>
                <input asp-for="GooglePlus" class="form-control" />
                <span asp-validation-for="GooglePlus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YouTube" class="control-label"></label>
                <input asp-for="YouTube" class="form-control" />
                <span asp-validation-for="YouTube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Twitter" class="control-label"></label>
                <input asp-for="Twitter" class="form-control" />
                <span asp-validation-for="Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input class="form-control" type="file" name="newLogo"/>
                <br/>
                <img src="/Images/@Model.Logo" class="img-thumbnail"/>
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



